# Generic
*
!README.md
!.gitignore

# Rust
!rust/
!rust/*/
!*.rs
!src
!src/*

# C++
!cpp/
!cpp/*/
!*.cpp
!*.h
!CMakeLists.txt
*_test.cpp

# Lua
!lua/
!lua/*/
!*.lua

# Python
!python/
!python/*/
!*.py
m?.py
*speed_test.py
